{% load static %}

<!DOCTYPE html>

<HTML>
	<HEADER>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<script type="text/javascript" src="{% static 'scripts/jquery-3.2.0.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'scripts/page-code.js' %}"></script>
	</HEADER>
	<BODY>
		{% include "general/header.html" %}
		ФФФФФФФ
	</BODY>
</HTML>